version: '3.8'

services:
  backend:
    build: ./backend
    container_name: backend
    environment:
      - FLASK_APP=dashboard
      - FLASK_RUN_HOST=0.0.0.0
      - FLASK_DEBUG=1
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
